
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    /* --primary: #f86a03; */
    --primary: rgb(0, 102, 255);
    --secondary: rgb(0, 178, 263);
    --our-font: 'Inter', sans-serif;
    --bg-color: #f4f6ff;
  
  
    --h1-font: clamp(28px, 3.5vw, 40px);
    --h1-line: clamp(32px, 3.8vw, 42px);
  
    --h2-font: clamp(24px, 3vw, 40px);
    --h2-line: clamp(28px, 3.8vw, 42px);
    
    --h3-font: clamp(16px, 2.3vw, 26px);
    --h3-line: clamp(24px, 3.4vw, 35px);
    
    --h4-font: ;
    --h4-line: ;
    
    --p-font: clamp(16px,1.8vw,20px);
    --p-line: clamp(24px,3vw,32px);
    
    --card-h-font: clamp(16px,2vw,24px);
    --card-h-line: clamp(22px,2.5vw,30px);
  
    --card-p-font: clamp(14px,1.2vw,20px);
    --card-p-line: clamp(26px,2.5vw,26px);
    
    --button-font: ;
  }
  
  .App {
    font-family: var(--our-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  