

.home {
    /* height: 600px; */
    background-color: black;
    text-align: center;
    /* padding: 20px 3vw; */
    color: white;
    
}


.banner {
    /* background: linear-gradient(rgb(0, 102, 255,0.1),rgb(0, 102, 255,1) 95%); */
    background: linear-gradient(rgb(0, 102, 255,0.1), rgb(0, 0, 0,1) 95%),url(./assets/backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 62vw;
    padding: 15vw 4vw;
    /* padding-top: 21vw; */
    min-height: 305px;
    max-height: 850px;
    background-position: center;
}

.banner h2 {
    /* font-size: 5vw; */
    /* font-size: 20px; */
    font-size: clamp(20px,5vw,70px);
}
.banner h3 {
    /* font-size: 3.5vw; */
    /* font-size: 12px; */
    font-size: clamp(12px,3.5vw,48px);
    color: rgb(0, 178, 263);
}
.banner p {
    font-size: clamp(14px,1.8vw,28px);
    /* margin-bottom: 20vw; */
}

.banner button, .about-us button, .plan-card button {
    background-color: var(--primary);
    color: white;
    border: none;
    /* padding: 1.4vw 2vw; */
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10vw;
    font-size: clamp(10px,1.6vw,24px);
    height: clamp(30px,3.8vw,59px);
    width: clamp(170px,20vw,350px);
    /* width: 350px; */
}

video {
    height: 60vw;
    width: 80%;
    max-height: 600px;
    max-width: 900px;
    background-color: white;
    border-radius: 4px;
    margin: 15px auto;
}

.about-us {
    padding: 5vw;
}

.about-us h2 {
    font-size: var(--h2-font);
}
.about-us h3 {
    font-size: var(--h3-font);
}

.about-us p {
    font-size: var(--p-font);
    line-height: var(--p-line);
    color: white;
}

.plan-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px 0;
}

.plan-card {
    /* height: 220px; */
    /* background-color: rgb(0, 0, 0); */
    color: white;
    box-shadow: 0px 0px 10px 1px var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 7px;
    margin: 20px auto;
    width: 75%;
}
.plan-card button {
    width: 50%;
    margin: 0 auto;
}
.plan-card p {
    border-bottom: 1px solid var(--primary);
    width: fit-content;
    margin: 10px auto;
    font-size: var(--card-p-font);
    line-height: var(--card-p-line);
    /* color: grey; */
}


@media (max-width: 800px) {
    .plan-cards {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 500px) {
    .banner p {
        display: none;
    }

    .plan-cards {
        display: block;
    }
}