
.layout {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; */
}

.navigation {
    /* margin-bottom: 50px; */
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,0.6);
    position: fixed;
    color: white;
    width: 100%;
    /* color: rgb(0, 102, 255); */
    padding: 15px 3vw;
    /* border: 2px solid red; */
    z-index: 5;
}

.bignav {
    /* width: 40%; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 40px; */
}

nav h2 {
    font-size: clamp(24px, 3.5vw, 40px);
    cursor: pointer;
}

.vest {
    color: var(--primary);
}

li {
    display: inline;
    margin-right: 12px;
    cursor: pointer;
}

.navigation button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}

.smallnav button {
    width: 35%;
    padding: 8px 10px;
}

.smallnav {
    position: fixed;
    background-color: rgb(0, 0, 0,0.88);
    z-index: 9;
    width: 100%;
    color: white;
    padding-left: 40px;
    transition: .7s;
    top: 58px;
    padding-top: 20px;
}

.smallnav li {
    display: block;
    margin-bottom: 25px;
    list-style-type: none;
}

.mobilemenu{
    height: 26px;
    width: 36px;
    border-radius: 4px;
    background-color: var(--primary);
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 0;
    display: none;
}

.mobilemenu-on {
    background-color: white;
    height: 26px;
    width: 36px;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 0;
    display: none;
}

.mobilemenu .bar {
    height: 2px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

.mobilemenu-on .bar {
    height: 2px;
    width: 70%;
    margin: 0 auto;
    background-color: var(--primary);
}

.footer {
    text-align: center;
    border-top: 1px solid var(--primary);
    background-color: black;
    color: white;
    padding: 40px 25px;
}

@media (max-width: 570px) {
    .bignav {
        display: none;
    }

    .mobilemenu, .mobilemenu-on {
        display: flex;
    }

    .footer {
        font-size: smaller;
    }
}