

.about {
    padding: 95px 6vw;
}

.about p {
    font-size: var(--p-font);
    line-height: var(--p-line);
    color: grey;
}

.about h2, .about h4, .about h1 {
    text-align: center;
}

.about p {
    text-align: justify;
    
}